#include? "../Pods/Target Support Files/Pods-Runner/Pods-Runner.debug.xcconfig"
#include? "Generated.xcconfig"

// Fallback Flutter configuration for Debug mode
FLUTTER_TARGET=lib/main.dart
FLUTTER_BUILD_MODE=debug
FLUTTER_FRAMEWORK_DIR=$(FLUTTER_ROOT)/bin/cache/artifacts/engine/ios
SYMROOT=${SRCROOT}/../build/ios
FLUTTER_BUILD_NAME=1.0.0
FLUTTER_BUILD_NUMBER=1
DART_DEFINES=
DART_OBFUSCATION=false
TRACK_WIDGET_CREATION=true
TREE_SHAKE_ICONS=false
